rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow users to create reports
    match /reports/{reportId} {
      allow create: if request.auth != null;

      // Optional: Allow read access for everyone (public reports)
      allow read: if true;

      // Allow update only from users who created the resource
      allow update: if request.auth != null && request.auth.uid == resource.data.user_id;
      // No delete by users directly
      allow delete: if false;
    }
  }
}